In [2]:
import pandas as pd

articles_df = pd.read_csv(r"C:\Users\sarah\Documents\Winter 2025\IS 455\Recommendations Project\shared_articles.csv")
user_df = pd.read_csv(r"C:\Users\sarah\Documents\Winter 2025\IS 455\Recommendations Project\users_interactions.csv")

In [3]:
articles_df.head()

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
0,1459192779,CONTENT REMOVED,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,CONTENT SHARED,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en

In [4]:
user_df.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,VIEW,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,FOLLOW,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
4,1465412290,VIEW,-7820640624231356730,-445337111692715325,5611481178424124714,NaN,NaN,NaN

**Needs to be in user-item-rating triple format**

user: (personId?)

item: (contentId)

rating: eventType (how much a user liked it, maybe need to convert it to numbers instead of text?)

In [5]:
#filter df
for index, row in user_df.iterrows():
    if row['eventType'] == 'VIEW':
        user_df.at[index, 'eventType'] = 1
    elif row['eventType'] == 'LIKE':
        user_df.at[index, 'eventType'] = 2
    elif row['eventType'] == 'FOLLOW':
        user_df.at[index, 'eventType'] = 3
    elif row['eventType'] == 'BOOKMARK':
        user_df.at[index, 'eventType'] = 4
    elif row['eventType'] == 'COMMENT CREATED':
        user_df.at[index, 'eventType'] = 5

user_df.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,1,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,1,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,1,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,3,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
4,1465412290,1,-7820640624231356730,-445337111692715325,5611481178424124714,NaN,NaN,NaN

In [19]:
keep_columns = ['personId', 'contentId', 'eventType']
filter_user_df = user_df[keep_columns]
filter_user_df.head()

              personId            contentId eventType
0 -8845298781299428018 -3499919498720038879         1
1 -1032019229384696495  8890720798209849691         1
2 -1130272294246983140   310515487419366995         1
3   344280948527967603   310515487419366995         3
4  -445337111692715325 -7820640624231356730         1

Generate stats?

Use Quartiles to know where to cut off

In [20]:
# example code from the textbook
print('Min:\t\t', filter_user_df['contentId'].value_counts().min())
print('Quartile 1:\t', filter_user_df['contentId'].value_counts().quantile(.25))
print('Median:\t\t', filter_user_df['contentId'].value_counts().quantile(.5))
print('Quartile 3:\t', filter_user_df['contentId'].value_counts().quantile(.75))
print('Max:\t\t', filter_user_df['contentId'].value_counts().max())

Min:		 1
Quartile 1:	 6.0
Median:		 14.0
Quartile 3:	 30.0
Max:		 433

**Prep the data**

In [7]:
# sample code
# # Store the count of ratings for each movie
# value_counts = df_triple['movieId'].value_counts()

# # Make a list of those with more than 9 ratings
# keep_list = value_counts[value_counts >= 9]
# print(len(keep_list), 'movies with 9 or more ratings\n')
# keep_list

filter it with the cut off value we found from the quartiles

In [8]:
#from the textbook
# df_triple = df_triple.loc[df_triple['movieId'].isin(keep_list.index)]
# print(df_triple.shape)
# print("Ratings per movie:\t", df_triple.shape[0]/len(keep_list))

check for duplicates and remove them

In [9]:
# print(f"Duplicate ratings: {df_triple.duplicated(subset=['userId', 'movieId']).sum()}")

In [10]:

# print(f'Total rows before dropping duplicates: {df_triple.shape[0]}')

# # keep='last' if you want to keep the last record
# # keep=False if you want to drop all duplicates
# df_triple.drop_duplicates(subset=['userId', 'movieId'], keep='first', inplace=True)

# # These print statements are just a 'sanity check' to make sure we truly didn't have duplicates
# print(f'Total rows after dropping duplicates: {df_triple.shape[0]}')

data understanding after cleaning

In [11]:
# # Group the rows into individual titles and calculate the mean rating for each row
# movie_stats = df_triple.groupby(by=['movieId'])[['rating']].agg(['count', 'mean'])
# movie_stats.columns = ['ratings_count', 'ratings_mean'] # Rename the columns to simplify the index

# # Join with df_movies to get the titles
# movie_stats = movie_stats.join(df_movies['title'])

# # Sort the ratings
# movie_stats = movie_stats.sort_values(by=['ratings_mean'], ascending=False)

# # Create a smaller dataset of the top n and bottom n rated movies
# df_reduced = pd.concat([movie_stats.head(20), movie_stats.tail(5)])

# plt.figure(figsize=(10,4)) # Set the size of the figure
# sns.barplot(data=df_reduced, x='title', y='ratings_mean')
# plt.xticks(rotation=90)
# plt.show()

# plt.figure(figsize=(10,4)) # Set the size of the figure
# sns.barplot(data=df_reduced, x='title', y='ratings_count')
# plt.xticks(rotation=90)
# plt.show()

Model preparation

In [12]:
# import numpy as np
# from scipy.sparse import csr_matrix

# U = df_triple['userId'].nunique()   # Number of users for the matrix
# I = df_triple['movieId'].nunique()  # Number of items for the matrix

# # Map user and movie IDs to matrix indices
# user_mapper = dict(zip(np.unique(df_triple['userId']), list(range(U))))
# item_mapper = dict(zip(np.unique(df_triple['movieId']), list(range(I))))

# # Map maxtrix indices back to IDs
# user_inv_mapper = dict(zip(list(range(U)), np.unique(df_triple['userId'])))
# item_inv_mapper = dict(zip(list(range(I)), np.unique(df_triple['movieId'])))

# # Create a list of index values for the csr_matrix for users and movies
# user_index = [user_mapper[i] for i in df_triple['userId']]
# item_index = [item_mapper[i] for i in df_triple['movieId']]

# # Build the final matrix which will look like: (movieId, userId) rating
# X = csr_matrix((df_triple['rating'], (item_index, user_index)), shape=(I, U))

# # Print each item out to see how they all work together.
# # Each object is used to create the next object.
# # We don't have to print these out; this is just to help you understand.
# print(f'Number of users: {U}')
# print(f'Number of items: {I}')
# print(f'user_mapper:\t {len(user_mapper.keys())}   keys:values {user_mapper}')
# print(f'item_mapper:\t {len(item_mapper.keys())}  keys:values {item_mapper}')
# print(f'user_index:\t {len(user_index)} values\t   {user_index}')
# print(f'item_index:\t {len(item_index)} values\t   {item_index}')
# print(f'user_inv_mapper: {len(user_inv_mapper.keys())}   keys:values {user_inv_mapper}')
# print(f'item_inv_mapper: {len(item_inv_mapper.keys())}  keys:values {item_inv_mapper}')
# print(f'X: {X}')

matrix

In [13]:
def create_matrix(df, user, item, rating):
    import numpy as np
    from scipy.sparse import csr_matrix

    U = df[user].nunique()  # Number of users for the matrix
    I = df[item].nunique()  # Number of items for the matrix

    # Map user and movie IDs to matrix indices
    user_mapper = dict(zip(np.unique(df[user]), list(range(U))))
    item_mapper = dict(zip(np.unique(df[item]), list(range(I))))

    # Map matrix indices back to IDs
    user_inv_mapper = dict(zip(list(range(U)), np.unique(df[user])))
    item_inv_mapper = dict(zip(list(range(I)), np.unique(df[item])))

    # Create a list of index values for the csr_matrix for users and movies
    user_index = [user_mapper[i] for i in df[user]]
    item_index = [item_mapper[i] for i in df[item]]

    # Build the final matrix which will look like: (movieId, userId) rating
    X = csr_matrix((df[rating], (item_index, user_index)), shape=(I, U))

    return X, user_mapper, item_mapper, user_inv_mapper, item_inv_mapper

In [14]:
# X, user_mapper, item_mapper, user_inv_mapper, item_inv_mapper = create_matrix(df_triple, 'userId', 'movieId', 'rating')

# print(X) # (movieId, userId)   rating
# print(user_mapper)
# print(user_inv_mapper)
# print(item_mapper)
# print(item_inv_mapper)

Item recommendation

In [15]:
# def recommend(itemId, X, item_mapper, item_inv_mapper, k, metric='cosine', messages=True):
#     from sklearn.neighbors import NearestNeighbors

#     rec_ids = []                # Make a list for the recommended item IDs we'll get later
#     item = item_mapper[itemId]  # Get the index of the movie ID passed into the function
#     item_vector = X[item]       # Get the vector of user ratings for the movie ID passed into the function

#     # Fit the clustering algorithm based on the user-item matrix X
#     knn = NearestNeighbors(n_neighbors=k+1, algorithm="brute", metric=metric).fit(X)

#     # Call the trained knn cluster model to return the nearest neighbors of the item_vector passed in
#     rec = knn.kneighbors(item_vector.reshape(1,-1), return_distance=True)
#     rec_indeces = rec[1][0]     # Parse out the list of indeces of the recommended items
#     rec_distances = rec[0][0]   # Parse out the recommendation strength calculated as the distance from the cluster center
#     rec_distances = np.delete(rec_distances, 0) # Drop the first number in the list because it is the distance of itemId from itself

#     # We need to replace the recommended item indeces with their original item IDs
#     for i in range(1, knn.n_neighbors): # n_neighbors is the number of neighbors to return
#         rec_ids.append(item_inv_mapper[rec_indeces[i]])
        
#     # It may help to see what this is. The distance list is first and the recommended item indeces are second
#     if messages:
#         print(f'List of recommended item indeces:\n{rec_indeces}\n')
#         print(f'List of recommended item IDs:\n{rec_ids}\n')
#         print(f'List of recommended item similarity to selected item:\n{rec_distances}\n')

#     # Return two lists: the original item IDs of the recommendations and their similarity scores
#     return rec_ids, rec_distances

In [16]:
# movie_id = 10
# similar_ids = recommend(movie_id, X, item_mapper, item_inv_mapper, k=10)

# print(f"If you like {df_movies.loc[movie_id, 'title']}, you may also enjoy:\n")
# for i in similar_ids:
# print(f"\t{df_movies.loc[i, 'title']}")

User Recommendations

In [17]:
# # Get a list of recommendations based on a single randomly selected movie from all of their top rated movies

# user_id = 150   # Select a user
# k = 20          # Select the number of recommendations to give them; movies they've seen will be removed from this total

# # Filter the data by only those movies rated by this user
# df_user_ratings = df_triple[df_triple['userId']==user_id]

# # Find the movies with the max ratings for this user
# max_rating = df_user_ratings['rating'].max()
# df_favorites = df_user_ratings[df_user_ratings['rating'] == max_rating]['movieId']

# # Randomly select one of their top rated movies
# movie_id = df_favorites.sample(n=1).iloc[0]

# # Get a list of recommendations based on their top rated movie
# rec_ids, rec_distances = recommend(movie_id, X, item_mapper=item_mapper, item_inv_mapper=item_inv_mapper, 
#                                     k=k, messages=False)

# print(f"Since you liked {df_movies.loc[movie_id, 'title']}, consider these:\n")
# for i in rec_ids:
#     if not i in list(df_user_ratings['movieId']): # Make sure we don't recommend movies they have already seen
#         print(f"\t{df_movies.loc[i, 'title']}")

Deployment

In [18]:
# # How many recommendations per movie would you like?
# k = 5

# # Get a list of recommendations for all movies; you can store this list as a "trained model" of sorts
# df_recommendations = pd.DataFrame(columns=['If you watched'], index=item_mapper)
# for i in range(1, k):
#     df_recommendations[f'Recommendation {i}'] = None

# for row in df_recommendations.itertuples():
# # Get a ranked list of recommendati ons
#     rec_ids, rec_distances = recommend(row[0], X, item_mapper, item_inv_mapper, k=k, messages=False)

# # Get the title of the 'watched' movie in this row
#     df_recommendations.at[row[0], 'If you watched'] = df_movies.at[row[0], 'title']
    
# # Get the titles of the recommended movies
#     for i, r in enumerate(rec_ids):
#         df_recommendations.at[row[0], f'Recommendation {i+1}'] = df_movies.at[r, 'title']

# # Store df_recommendations in an operational DB.
# # 
# # from sqlalchemy import create_engine
# # engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
# #                       .format(user="root",
# #                               pw="12345",
# #                               db="employee"))
# # df_recommendations.to_sql('book_details', con = engine, if_exists = 'append', chunksize = 1000)

# df_recommendations.tail()